*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

header {
  background-color: 151518;
  color: white;
  font-family: 'Muli', sans-serif;
}

main {
  background-color: #23242b;
  display: inline-block;
  width: 75%;
  min-height: 100vh;
}

aside {
  background-color: #151518;
  color: white;
  float: right;
  width: 25%;
  height: 100vh;
  padding-top: 40px;
  overflow: scroll;
}

button {
  color: white;
  background-color: #3b3c44;
  border: none;
  padding: 8px 6px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  border-radius: 0;
}

button:hover {
  background-color: #89FC3E;
  color: black;
}

select,
option {
  height: 30px;
  border-radius: 0px;
}

input {
  padding: 6px 0;
}

h1 {
  margin: 0;
}

aside h2 {
  margin-bottom: 20px;
  font-family: 'Muli', sans-serif;
}

h4 {
  color: white;
  background-color: #23242b;
  display: inline-block;
  padding: 2px 4px;
  margin: 0;
  height: 20px;
}

h6 {
  color: white;
  background-color: #23242b;
  display: inline-block;
  padding: 1px 4px;
}

.main-palette {
  display: flex;
  width: 304px;
  border: 2px solid #23242b;
  flex-wrap: wrap;
  margin: 40px auto 10px auto;
  position: relative;
}

.colorbox {
  width: 150px;
  height: 150px;
  display: inline-flex;
  justify-content: center;
}

.mini-palette {
  display: flex;
  width: 154px;
  border: 2px solid black;
  flex-wrap: wrap;
  position: relative;
  margin: 4px auto 0 auto;
}

.colorbox-mini {
  width: 75px;
  height: 75px;
}

.mini-5 {
  position: absolute;
  left: 35px;
  top: 40px;
  padding-top: 28px;
}

.mini-1, 
.mini-2 {
  padding-top: 6px;
}

.mini-3,
.mini-4 {
  padding-top: 56px;
}

.color5 {
  position: absolute;
  left: 75px;
  top: 75px;
  padding-top: 64px;
}

.color1,
.color2 {
  padding-top: 6px;
}

.color3,
.color4 {
  padding-top: 124px;
}

.generate-palette-button {
  display: block;
  margin: 0 auto 20px auto;
}

.project-container {
  margin-top: 10px;
}

.delete-palette-button {
  height: 14px;
  width: 14px;
  background-image: url('./assets/delete.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.delete-palette-button:hover {
  background-image: url('./assets/delete-hover.png')
}

.color-lock {
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url('./assets/unlocked.png');
  background-color: black;
}

.locked {
  background-image: url('./assets/locked.png');
  background-color: black;
}

.palette-name {
  display: inline-block;
}