*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  text-align: center;
}

header {
  background-color: 151518;
  color: white;
  font-family: 'Muli', sans-serif;
}

main {
  background-color: #23242b;
  display: inline-block;
  width: 75%;
  min-height: 100vh;
}

aside {
  background-color: #151518;
  color: white;
  float: right;
  width: 25%;
  min-height: 100vh;
  padding-top: 40px;
}

button {
  color: white;
  background-color: #3b3c44;
  border: none;
  padding: 8px 6px;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
}

input {
  padding: 6px 0;
}

h1 {
  margin: 0;
}

aside h2 {
  margin-bottom: 20px;
  font-family: 'Muli', sans-serif;
}

.main-palette {
  display: flex;
  width: 304px;
  border: 2px solid black;
  flex-wrap: wrap;
  margin: 40px auto 10px auto;
  position: relative;
}

.colorbox {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.color1 {
  background-color: magenta;
}

.color2 {
  background-color: lime;
}

.color3 {
  background-color: orange;
}

.color4 {
  background-color: royalblue;
}

.color5 {
  background-color: skyblue;
  position: absolute;
  left: 75px;
  top: 75px
}

.generate-palette-button {
  display: block;
  margin: 0 auto 20px auto;
}